**/.vs
**/.vscode
**/bin
**/obj
**/.git
**/.gitignore
**/.github
**/node_modules
**/logs
**/*.log
**/appsettings.Development.json
**/appsettings.Local.json
**/.env
**/.env.local
**/*.md
**/Tests
**/ShadowrunDiscordBot.Tests
**/*.Test.csproj
**/.editorconfig
**/.gitattributes
**/Dockerfile
**/docker-compose*.yml
**/.dockerignore
**/LICENSE
